---
layout: default
---

<!-- <a href="{{ "/" | relative_url }}">{{ site.theme_config.back_home_text }}</a> -->
<!-- {% include go_back.html %} -->
<a href="{{ "/cses-fi" | relative_url }}">back..</a>

<h1 class="post-title">{{ page.title }}</h1>
{% include date_and_social_share.html %}

<div>
    Problem link:
    <a href="{{page.link}}">{{page.link}}</a>
</div>
<br>
<div>
    References:
    {% for ref in page.references %}
        <a href="{{ref}}">{{ref}}</a> <br>
    {% endfor %}
</div>

<h3> explanation</h3>
{{ page.explaination }}
<h3>code</h3>
{{ content }}
{% include footer.html %}